* {
    margin: 0;
    padding: 0;
}

ul {
    margin-top: 10px;
}


h1 {
    text-align: center;
    font-weight: bolder;
    font-weight: 600;
}

@media only screen and (min-width:451px) and (max-width:1500px) {
    .navbar-toggler-icon {
        display: none;
    }

    button {
        display: none;
    }


}

@media only screen and (min-width:326px)and (max-width:450px) {
    ul {
        margin-top: 10px;
    }
}